@model TwoFactorAuthenticationViewModel

<div class="row col-md-10 offset-md-1">
    <h1 class="text-primary text-center pt-2">Enable Authenticator</h1>
    <form method="post">
        <div class="border p-2 rounded">
            <p class="text-center">Please enter the code below in your authenticator App.</p>
            <p class="text-center">@Model.Token</p>
            <p class="text-center">
                Alternatively, scan the below QRCode with your mobile phone.
            </p>
            <div class="text-center" id="qrCode"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group pt-3">

                <div class="col-md-6 offset-md-3">
                    <button class="btn btn-success form-control" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <script src="~/js/qrcode.js"></script>
        <script type="text/javascript">
            new QRCode(document.getElementById("qrCode"), "@Model.QRCodeUrl");
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}